<component-page-wrapper
  [menu]="menu"
  [headerOnMobile]="false">
  <div class="has-text-centered">
    <img class="logo is-hidden-tablet" src="../../../assets/images/logo-white.png" alt="ListApp.me">

    <h1 class="title is-size-4 is-size-3-desktop">
      Get organized now!
    </h1>
  </div>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div *ngIf="error" class="notification is-danger">
        <button (click)="error = ''" class="delete"></button>
        {{error}}
      </div>

      <div *ngIf="success" class="notification is-primary">
        <button (click)="success = ''" class="delete"></button>
        {{success}}
      </div>

      <div class="box">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              type="email"
              class="input"
              placeholder="Your email"
              [(ngModel)]="email"
            />
          </div>
          <p *ngIf="emailError" class="help is-danger">{{emailError}}</p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
              <input
                type="password"
                class="input"
                placeholder="Your password"
                [(ngModel)]="password"
              />
          </div>
          <p *ngIf="passwordError" class="help is-danger">{{passwordError}}</p>
        </div>

        <div class="buttons">
          <button (click)="validateForm(signUp.bind(this))" class="button is-info">
            <span class="icon is-small">
              <fa-icon [icon]="faUserPlus"></fa-icon>
            </span>
            <span>Sign Up</span>
          </button>

          <div class="label-or">or</div>

          <button (click)="validateForm(signIn.bind(this))" class="button">
            <span class="icon is-small">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
            </span>
            <span>Sign In</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</component-page-wrapper>
