.navbar {
  padding-top: 10px;
}

.hero {
  background: url('../../../assets/images/bg.jpg') repeat center;
}

.label-or {
  margin-right: 0.5rem;
  height: 36px;
}

.hero-body {
  padding-top: 0;

  .logo {
    max-width: 180px;
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 15px;
  }
}
