<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ListApp</strong> by <a target="_blank" href="https://github.com/washingtonbr/ListApp">Washington Pires</a>. Source code licensed <a target="_blank" href="https://github.com/washingtonbr/ListApp/blob/master/LICENSE">GNU GPL v3.0</a>.
    </p>

    <a target="_blank" href="https://bulma.io">
      <img src="../../../assets/images/made-with-bulma.png" alt="Made with Bulma" width="110">
    </a>
  </div>
</footer>
