<component-page-wrapper
  [menu]="menu">
  <h1 class="title has-text-centered">Your list</h1>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <input class="input-edit" type="text" value="Lorem ipsum dolor">
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            <p>
              <textarea class="input-edit">Curabitur sed nibh at ipsum viverra luctus. Aliquam commodo purus id interdum.</textarea>
            </p>

            <div class="field">
              <input class="is-checkradio is-info" type="checkbox">
              <label>
                <input class="input-edit" type="text" value="Sed accumsan magna">
              </label>
            </div>

            <div class="field">
              <input class="is-checkradio is-info" type="checkbox">
              <label>
                <input class="input-edit" type="text" value="Proin id dolor ornare">
              </label>
            </div>

            <div class="field">
              <input class="is-checkradio is-info" type="checkbox">
              <label>
                <input class="input-edit" type="text" value="Aliquam commodo">
              </label>
            </div>

            <div class="field">
              <input class="is-checkradio is-info" type="checkbox" checked="checked">
              <label>
                <input class="input-edit" type="text" value="Etiam eudui interdum">
              </label>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <input class="input" type="text" placeholder="New item">
          <button class="button">Add</button>
        </footer>
      </div>
    </div>
  </div>
</component-page-wrapper>
