<component-page-wrapper
  [menu]="menu">
  <h1 class="title has-text-centered">Your list</h1>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div *ngFor="let erroItem of error; let i = index" class="notification is-danger">
        <button (click)="error.splice(i, 1)" class="delete"></button>
        {{erroItem}}
      </div>

      <div *ngIf="success" class="notification is-primary">
        <button (click)="success = ''" class="delete"></button>
        {{success}}
      </div>

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <input
              [(ngModel)]="theList.title"
              placeholder="Enter a title"
              class="input-edit"
              type="text"
            />
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            <p>
              <textarea
                [(ngModel)]="theList.text"
                placeholder="Enter a description"
                class="input-edit">
              </textarea>
            </p>

            <div *ngFor="let item of theList.list; let i = index" class="field">
              <input
                class="is-checkradio is-info"
                type="checkbox"
                [checked]="item.isCheck"
                [(ngModel)]="item.isCheck"
                [id]="'checklist-item-' + i"
              />

              <label [for]="'checklist-item-' + i">
                <input
                  [(ngModel)]="item.text"
                  placeholder="New item"
                  class="input-edit"
                  type="text"
                />
              </label>
            </div>
          </div>
        </div>

        <footer class="card-footer">
          <input
            [(ngModel)]="newItem"
            class="input"
            type="text"
            placeholder="New item"
          />

          <button
            (click)="addItem()"
            class="button">
            Add
          </button>

          <button
            (click)="validateList() && saveList()"
            class="button">
            Save list
          </button>
        </footer>
      </div>
    </div>
  </div>
</component-page-wrapper>
