<component-page-wrapper
  [menu]="menu">
  <h1 class="title has-text-centered">Your lists</h1>

  <div *ngIf="error" class="notification is-danger">
    <button (click)="error = ''" class="delete"></button>
    {{error}}
  </div>

  <div class="columns is-multiline">
    <div *ngFor="let item of lists" class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{item.title}}
          </p>
          <a class="card-header-icon" aria-label="more options">
            <span class="icon">
              <fa-icon [icon]="faClock"></fa-icon>
            </span>
          </a>
        </header>

        <div class="card-content">
          <div class="content">
            <div *ngIf="item.list.length">
              <div *ngFor="let subItem of item.list" class="field">
                <input
                  disabled="disabled"
                  [checked]="subItem.isCheck"
                  class="is-checkradio is-info"type="checkbox"
                />
                <label>{{subItem.text}}</label>
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a (click)="openList(item._id)" class="card-footer-item">View more</a>
          <a (click)="openList(item._id)" class="card-footer-item">Edit</a>
        </footer>
      </div>
    </div>
  </div>
</component-page-wrapper>
